body {
    background-color: #ffffff;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cabecalho1 {
    color: yellow;
}

.cabecalho2 {
    color: green;
}

#confirm {
    display: none;
}

.fadeOut {
	opacity: 0;
}

footer {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}



